body {
  margin:0;
  padding:0;
}
h1.logo {
  margin-top:0 !important;
}
#user {
  width: 200px;s
  float: right;
}

#flash {
  height: 30px;
  margin: 0;
}

#flash div {
  background: #eee;
  border: 1px solid #ccc;
}

a.expandable {
  padding-left: 30px;
  line-height: 24px;
  background: url('../images/expand.png') no-repeat 10px;
}

a.expandable:hover {
  color: #f13e3e;
}

#activity-list a {
  line-height: 12px !important;
  margin: 10px 0;
}