<% if map_view? %>
  <%= render 'mapview' %>
<% else %>
  <h1><%= @city.name %></h1>
  <p><%= "#{@city.region}, #{@country.name}" %></p>

  <ul class="activities">
    <%= render @messages %>
  </ul>
<% end %>